*{
    font-family: karla;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    background:rgb(245, 239, 239);
}

.main{
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    border: none;
    box-shadow: 2px 7px 50px -23px rgb(87, 86, 86);
}

.top{
    background: white;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 50%;
    padding: 25px 40px;
    
}



.left{
    background: hsl(179, 62%, 43%) ;
    float: left;
    height: 50%;
    border-radius: 0 0 0 10px;
    color: white;
    width: 50%;
    padding: 15px 40px;
    
    
}

.right{
    background: hsl(179, 60%, 51%);
    float: left;
    height: 50%;
    border-radius: 0 0  10px 0;
    color: white;
    width: 50%;
    padding: 15px 40px;
    line-height: 18px;
    
}

h2{
    color: hsl(179, 60%, 51%);
    font-size: 20px;
    font-weight: 700;
}

.p1{
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    padding-top: 8px;
}

.p2{
    color: hsl(218, 22%, 67%);
    font-weight: 400;
    line-height: 26px;
}

ul{
    list-style: none;
    padding-left: 0px;
    color: hsl(204, 43%, 93%);
    font-weight: 400;
}

button{
    background:  hsl(71, 73%, 54%);
    border: none;
    color: white;
    width: 200px;
    height: 43px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 8px;
    box-shadow: 0 7px 15px  rgb(0, 0, 0,  0.35);
    
}

.price{
   font-size: 28px;
   font-weight: 700;
}

.duration{
padding: 10px;
color: hsl(180, 14%, 82%);
}

@media screen and (max-width:800px){
.main{

    width: auto;
    margin: 30px;
    margin-top: 80px;
    }
}

@media screen and (max-width:550px){
  .main{
      min-width: 320px;
      margin: 18px;
    display: inline-table;
    
    
  }
  .top{
      padding: 10px 25px;
      width: 100%;
  }
  .left{
      border-radius: 0;
      padding: 10px 25px;
      width: 100%;
      float: none;
      
      
  }
  .right{
    border-radius: 0 0 10px 10px;
    padding: 10px 25px;
    width: 100%;
    float: none;
    
}
button{
    width: 100%;
    margin-bottom: 12px;
}
}